.productPage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}
